.u-border {
		border-style: solid;
		border-width: var(--border-width);
		border-color: var(--border-color);
}
.u-border-left {
		border-left-style: solid;
		border-left-width: var(--border-width);
		border-left-color: var(--border-color);
}
.u-border-right {
		border-right-style: solid;
		border-right-width: var(--border-width);
		border-right-color: var(--border-color);
}
.u-border-top {
		border-top-style: solid;
		border-top-width: var(--border-width);
		border-top-color: var(--border-color);
}
.u-border-bottom {
		border-bottom-style: solid;
		border-bottom-width: var(--border-width);
		border-bottom-color: var(--border-color);
}

.u-border-none { border: 0; }

.u-rounded { border-radius: 4px; }
.u-circle { border-radius: 50%; }
.u-rounded-none { border-radius: 0; }
